# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
multimala
countvar

# model output files
*.out

# R Data files
*.RData

# Editor backups
*~
#*#

